<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
    <h1>An overview of our departments</h1>
    <a href="/departments">Departments</a>
    <a href="/employees">Employees</a>
    <a href="/singleEmployee">Search for Employee</a>
    <a href="/createEmployee">Create new Employee</a>

    <table>
        <tr
            th:each="department : ${departments}">
            <td th:text="${department.getDeptno()}"></td>
            <td th:text="${department.getDeptName()}"></td>
            <td th:text="${department.getLocation()}"></td>
        </tr>
    </table>
</body>
</html>
