<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
    <h1>Specific employees</h1>

    <a href="/departments">Departments</a>
    <a href="/employees">Employees</a>
    <a href="/singleEmployee">Search for Employee</a>
    <a href="/createEmployee">Create new Employee</a>


    <form method="Post" action="/SearchForEmployees">
        <label for="id">Employee ID</label>
        <input id="id" type="number" name="id">
        <input type="submit">
    </form>
    <h1 th:text="${noId}"></h1>
</body>
</html>
